
@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/_GioHang.cshtml";
}

<div id="header">
    <div class="rectangle"></div>
    <div class="circle"></div>

    <a href="https://localhost:44357/TrangChu/Index">
        <p id="Tittle">LaptopNganNgo</p>
        <img id="LetterL" width="70"
             src="~/Images/royal-alphabet-crown-letter-english-l-512.png" />
    </a>

    <img id="User_icon" width="40"
         src="~/Images/User.png" />

    @if (Session["HoTen"] != null)
    {
        <p id="Hello_Text">@Session["HoTen"].ToString()</p>
        <a href="@Url.Action("LogOut", "DangNhap")" id="Button_LogOut">Đăng xuất</a>
    }
    else if (Session["Email"] != null && Session["HoTen"] == null)
    {
        <p id="Hello_Text">Chào bạn,</p>
        <a href="@Url.Action("LogOut", "DangNhap")" id="Button_LogOut">Đăng xuất</a>
    }
    else
    {
        <a href="https://localhost:44357/DangNhap/Index">

            <p id="Log_in">Đăng nhập</p>
        </a>
        <p id="text_1">hoặc Đăng ký</p>
    }



    <div>
        <input id="Search_textbox" type="text"
               placeholder="Tìm kiếm ở đây" />
        <img src="~/Images/search.png"
             width="19"
             style="
                 position: absolute;
                 left: 445.37px;
                 top: 139px;" />
        <a href="https://localhost:44357/TimKiemSP/Index">
            <button id="Search_button">Tìm</button>
        </a>
    </div>

    <div>
        <img id="Cart_image" src="~/Images/shopping-cart.png" width="39" />
        <p id="Cart_number">0</p>
        <a href="https://localhost:44357/GioHang/Index">
            <p id="Cart_text">Giỏ hàng</p>
        </a>
    </div>

    <div class="dropdown">
        <button class="dropbtn">Danh mục sản phẩm</button>
        <div class="dropdown-content">
            <a href="#">Laptop Gaming  &emsp;&emsp;></a>
            <div id="Laptop_Gaming_Content">
                <p>
                    <a href="#">Acer</a>
                    <a href="#">Asus</a>
                    <a href="#">MSI</a>
                    <a href="#">Dell</a>
                    <a href="#">HP</a>
                    <a href="#">Lenovo</a>
                </p>
            </div>
            <a href="#">Laptop văn phòng  &emsp;></a>
            <div id="Laptop_VP_Content">
                <p>
                    <a href="#">Acer</a>
                    <a href="#">Asus</a>
                    <a href="#">MSI</a>
                    <a href="#">Dell</a>
                    <a href="#">HP</a>
                    <a href="#">Lenovo</a>
                </p>
            </div>
            <a href="#">Laptop sinh viên&emsp;&emsp;></a>
            <div id="Laptop_SV_Content">
                <p>
                    <a href="#">Acer</a>
                    <a href="#">Asus</a>
                    <a href="#">MSI</a>
                    <a href="#">Dell</a>
                    <a href="#">HP</a>
                    <a href="#">Lenovo</a>
                </p>
            </div>
        </div>
    </div>

    <div class="Menu_Bar">
        <a id="Ban_Hang" href="#">&emsp;Chính sách bán hàng</a>
        <a id="Bao_Hanh" href="#">&emsp;Chính sách bảo hành</a>
        <a id="Van_Chuyen" href="#">&emsp;Chính sách vận chuyển</a>
        <a id="Khuyen_Mai" href="#">&emsp;Khuyến mãi</a>
        <a id="Cham_Soc" href="https://localhost:44357/CSKH/Index">&emsp;C.S Khách hàng</a>

        <img src="~/Images/policy.png"
             width="30"
             style="
            position:absolute;
            left:323px;
            top:215px;" />

        <img src="~/Images/wrench.png"
             width="30"
             style="
            position:absolute;
            left:560px;
            top:215px;" />

        <img src="~/Images/truck.png"
             width="30"
             style="
            position:absolute;
            left:800px;
            top:215px;" />

        <img src="~/Images/promotion.png"
             width="30"
             style="
            position:absolute;
            left:1095px;
            top:215px;" />

        <img src="~/Images/support.png"
             width="30"
             style="
            position:absolute;
            left:1320px;
            top:215px;" />
    </div>

</div>

<div class="Footer">

    <div id="logo_footer">
        <img src="~/Images/royal-alphabet-crown-letter-english-l-512.png "
             width="70" />
    </div>
    <p id="text1_ft">Sản Phẩm  </p>
    <p id="text2_ft">Tiếp Xúc </p>
    <p id="text3_ft">Theo Dõi  </p>
    <p id="text4_ft">Đăng Ký </p>

    <pre id="text5_ft">Đặc Trưng
Quảng cáo  
Tải Xuống</pre>

    <pre id="text6_ft">Liên hệ
FAQ  
Trợ Giúp</pre>

    <input id="Email_textbox" type="text"
           placeholder="Nhập Email của bạn" />
    <img id="FB_ft" src="~/Images/FB.png "
         width="30" />
    <img id="IG_ft" src="~/Images/IG.png "
         width="30" />

</div>


<p id="TenSP">Tên Sản Phẩm</p>
<p id="SL">Số lượng</p>
<p id="GiaTG">Giá Trước Giảm</p>
<p id="GiaSG">Giá Sau Giảm</p>
<p id="Xoa">Xóa</p>

<img id="N1" src="~/Images/haha.jpg " />
<img id="T1" src="~/Images/ArrowIcon.png" />
<img id="T2" src="~/Images/ArrowIcon.png" />
<img id="R1" src="~/Images/trash.png " />
<p id="pic1">Laptop Acer Nitro 5 2020 AN515-55-5923 Intel...</p>
<p id="Gia1">23.990.000</p>
<p id="d1">đ</p>
<p id="Gia2">14.490.000</p>
<p id="d2">đ</p>
<p id="s1">1</p>

<hr id="dk1" width="1450.97px" />
<hr id="dk2" width="1200px" />
<hr id="dk3" width="1217.2px" />

<p id="SL1">Số lượng</p>
<p id="GiaTG1">Giá Trước Giảm</p>
<p id="GiaSG1">Giá Sau Giảm</p>
<p id="Xoa1">Xóa</p>

<img id="N2" src="~/Images/hihi.jpg" />
<img id="T3" src="~/Images/ArrowIcon.png" />
<img id="T4" src="~/Images/ArrowIcon.png" />
<img id="R2" src="~/Images/trash.png " />
<p id="pic2">LAPTOP GAMING MSI GF75 THIN 10SCXR 248VN....</p>
<p id="Gia3">26.990.000</p>
<p id="d3">đ</p>
<p id="Gia4">15.490.000</p>
<p id="d4">đ</p>
<p id="s2">1</p>


<p id="SL3">Số lượng</p>
<p id="GiaTG3">Giá Trước Giảm</p>
<p id="GiaSG3">Giá Sau Giảm</p>
<p id="Xoa3">Xóa</p>

<img id="N3" src="~/Images/hoho.jpg" />
<img id="T5" src="~/Images/ArrowIcon.png" />
<img id="T6" src="~/Images/ArrowIcon.png" />
<img id="R3" src="~/Images/trash.png " />
<p id="pic3">Laptop Gaming Asus TUF A15 FA506IH-AL018T...</p>
<p id="Gia5">20.990.000</p>
<p id="d5">đ</p>
<p id="Gia6">12.490.000</p>
<p id="d6">đ</p>
<p id="s3">1</p>



<p id="Sum">Tổng Tiền</p>
<p id="Tien">42.470.000</p>
<p id="d7">đ</p>


<div id="button_BanCoVoucher">Bạn có Voucher</div>


@if (User.Identity.IsAuthenticated)
{
<a href="@Url.Action("CapNhat_TT_KH","KhachHangs")"><div id="button_ThanhToan">Thanh toán</div></a>
}
else
{
    <a href="@Url.Action("Index", "TT_DangNhap")"><div id="button_ThanhToan">Thanh toán</div></a>
}


